

.stone-1-0 {
  top: 14px;
  left: 18px;
}


.stone-2-0 {
  top: 4px;
  left: 9px;
}

.stone-2-1 {
  top: 22px;
  left: 11px;
}


.stone-3-0 {
  top: 4px;
  left: 9px;
}

.stone-3-1 {
  top: 22px;
  left: 11px;
}

.stone-3-2 {
  top: 14px;
  left: 27px;
}


.stone-4-0 {
  top: 4px;
  left: 9px;
}

.stone-4-1 {
  top: 22px;
  left: 11px;
}

.stone-4-2 {
  top: 14px;
  left: 27px;
}

.stone-4-3 {
  top: 31px;
  left: 24px;
}


.stone-5-0 {
  top: 4px;
  left: 9px;
}

.stone-5-1 {
  top: 22px;
  left: 11px;
}

.stone-5-2 {
  top: 14px;
  left: 27px;
}

.stone-5-3 {
  top: 31px;
  left: 24px;
}

.stone-5-4 {
  top: 0px;
  left: 25px;
}


.stone-6-0 {
  top: 4px;
  left: 9px;
}

.stone-6-1 {
  top: 27px;
  left: 7px;
}

.stone-6-2 {
  top: 14px;
  left: 33px;
}

.stone-6-3 {
  top: 31px;
  left: 24px;
}

.stone-6-4 {
  top: -1px;
  left: 25px;
}

.stone-6-5 {
  top: 13px;
  left: -2px;
}


.stone-7-0 {
  top: 4px;
  left: 8px;
}

.stone-7-1 {
  top: 22px;
  left: 17px;
}

.stone-7-2 {
  top: 14px;
  left: 33px;
}

.stone-7-3 {
  top: 31px;
  left: 30px;
}

.stone-7-4 {
  top: 23px;
  left: -1px;
}

.stone-7-5 {
  top: 0px;
  left: 26px;
}

.stone-7-6 {
  top: 37px;
  left: 13px;
}


.stone-8-0 {
  top: 4px;
  left: 8px;
}

.stone-8-1 {
  top: 22px;
  left: 17px;
}

.stone-8-2 {
  top: 14px;
  left: 33px;
}

.stone-8-3 {
  top: 31px;
  left: 30px;
}

.stone-8-4 {
  top: 23px;
  left: -1px;
}

.stone-8-5 {
  top: 0px;
  left: 26px;
}

.stone-8-6 {
  top: 37px;
  left: 13px;
}

.stone-8-7 {
  top: 12px;
  left: 22px;
}


.stone-9-0 {
  top: 4px;
  left: 8px;
}

.stone-9-1 {
  top: 22px;
  left: 17px;
}

.stone-9-2 {
  top: 14px;
  left: 33px;
}

.stone-9-3 {
  top: 31px;
  left: 30px;
}

.stone-9-4 {
  top: 23px;
  left: -1px;
}

.stone-9-5 {
  top: 0px;
  left: 26px;
}

.stone-9-6 {
  top: 37px;
  left: 13px;
}

.stone-9-7 {
  top: 12px;
  left: 22px;
}

.stone-9-8 {
  top: 28px;
  left: 10px;
}


.stone-10-0 {
  top: 4px;
  left: 8px;
}

.stone-10-1 {
  top: 22px;
  left: 17px;
}

.stone-10-2 {
  top: 14px;
  left: 33px;
}

.stone-10-3 {
  top: 31px;
  left: 30px;
}

.stone-10-4 {
  top: 23px;
  left: -1px;
}

.stone-10-5 {
  top: 0px;
  left: 26px;
}

.stone-10-6 {
  top: 37px;
  left: 13px;
}

.stone-10-7 {
  top: 12px;
  left: 22px;
}

.stone-10-8 {
  top: 28px;
  left: 10px;
}

.stone-10-9 {
  top: 18px;
  left: 2px;
}


.stone-11-0 {
  top: 4px;
  left: 8px;
}

.stone-11-1 {
  top: 22px;
  left: 17px;
}

.stone-11-2 {
  top: 14px;
  left: 33px;
}

.stone-11-3 {
  top: 31px;
  left: 30px;
}

.stone-11-4 {
  top: 23px;
  left: -1px;
}

.stone-11-5 {
  top: 0px;
  left: 26px;
}

.stone-11-6 {
  top: 37px;
  left: 13px;
}

.stone-11-7 {
  top: 12px;
  left: 22px;
}

.stone-11-8 {
  top: 28px;
  left: 10px;
}

.stone-11-9 {
  top: 18px;
  left: 2px;
}

.stone-11-10 {
  top: 25px;
  left: 35px;
}


.stone-12-0 {
  top: 4px;
  left: 8px;
}

.stone-12-1 {
  top: 22px;
  left: 17px;
}

.stone-12-2 {
  top: 14px;
  left: 33px;
}

.stone-12-3 {
  top: 31px;
  left: 30px;
}

.stone-12-4 {
  top: 23px;
  left: -1px;
}

.stone-12-5 {
  top: 0px;
  left: 26px;
}

.stone-12-6 {
  top: 37px;
  left: 13px;
}

.stone-12-7 {
  top: 12px;
  left: 22px;
}

.stone-12-8 {
  top: 28px;
  left: 10px;
}

.stone-12-9 {
  top: 18px;
  left: 2px;
}

.stone-12-10 {
  top: 25px;
  left: 35px;
}

.stone-12-11 {
  top: 25px;
  left: 35px;
}


.stone-13-0 {
  top: 4px;
  left: 8px;
}

.stone-13-1 {
  top: 22px;
  left: 17px;
}

.stone-13-2 {
  top: 14px;
  left: 33px;
}

.stone-13-3 {
  top: 31px;
  left: 30px;
}

.stone-13-4 {
  top: 23px;
  left: -1px;
}

.stone-13-5 {
  top: 0px;
  left: 26px;
}

.stone-13-6 {
  top: 37px;
  left: 13px;
}

.stone-13-7 {
  top: 12px;
  left: 22px;
}

.stone-13-8 {
  top: 28px;
  left: 10px;
}

.stone-13-9 {
  top: 18px;
  left: 2px;
}

.stone-13-10 {
  top: 25px;
  left: 35px;
}

.stone-13-12 {
  top: 25px;
  left: 35px;
}


.stone-14-0 {
  top: 4px;
  left: 8px;
}

.stone-14-1 {
  top: 22px;
  left: 17px;
}

.stone-14-2 {
  top: 14px;
  left: 33px;
}

.stone-14-3 {
  top: 31px;
  left: 30px;
}

.stone-14-4 {
  top: 23px;
  left: -1px;
}

.stone-14-5 {
  top: 0px;
  left: 26px;
}

.stone-14-6 {
  top: 37px;
  left: 13px;
}

.stone-14-7 {
  top: 12px;
  left: 22px;
}

.stone-14-8 {
  top: 28px;
  left: 10px;
}

.stone-14-9 {
  top: 18px;
  left: 2px;
}

.stone-14-10 {
  top: 25px;
  left: 35px;
}

.stone-14-12 {
  top: 25px;
  left: 35px;
}

.stone-14-13 {
  top: 25px;
  left: 35px;
}


.stone-15-0 {
  top: 4px;
  left: 8px;
}

.stone-15-1 {
  top: 22px;
  left: 17px;
}

.stone-15-2 {
  top: 14px;
  left: 33px;
}

.stone-15-3 {
  top: 31px;
  left: 30px;
}

.stone-15-4 {
  top: 23px;
  left: -1px;
}

.stone-15-5 {
  top: 0px;
  left: 26px;
}

.stone-15-6 {
  top: 37px;
  left: 13px;
}

.stone-15-7 {
  top: 12px;
  left: 22px;
}

.stone-15-8 {
  top: 28px;
  left: 10px;
}

.stone-15-9 {
  top: 18px;
  left: 2px;
}

.stone-15-10 {
  top: 25px;
  left: 35px;
}

.stone-15-12 {
  top: 25px;
  left: 35px;
}

.stone-15-13 {
  top: 25px;
  left: 35px;
}

.stone-15-14 {
  top: 25px;
  left: 35px;
}


.stone-16-0 {
  top: 4px;
  left: 8px;
}

.stone-16-1 {
  top: 22px;
  left: 17px;
}

.stone-16-2 {
  top: 14px;
  left: 33px;
}

.stone-16-3 {
  top: 31px;
  left: 30px;
}

.stone-16-4 {
  top: 23px;
  left: -1px;
}

.stone-16-5 {
  top: 0px;
  left: 26px;
}

.stone-16-6 {
  top: 37px;
  left: 13px;
}

.stone-16-7 {
  top: 12px;
  left: 22px;
}

.stone-16-8 {
  top: 28px;
  left: 10px;
}

.stone-16-9 {
  top: 18px;
  left: 2px;
}

.stone-16-10 {
  top: 25px;
  left: 35px;
}

.stone-16-12 {
  top: 25px;
  left: 35px;
}

.stone-16-13 {
  top: 25px;
  left: 35px;
}

.stone-16-14 {
  top: 25px;
  left: 35px;
}

.stone-16-15 {
  top: 25px;
  left: 35px;
}