
.board {
  margin: 20px 0;
}

.board-side {
  display: flex;
  width: 400px;
  padding: 0 10px;
  height: 70px;
  border: 1px solid black;
  border-radius: 30px;
  margin: 5px;

  > div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    > div {
      position: relative;
      border: 1px solid black;
      width: 55px;
      height: 55px;
      border-radius: 35px;
      cursor: pointer;

      > .stone {
        position: absolute;
      }
    }
  }
}

.reversed > div {
  flex-direction: row-reverse;
}

.stone {
  width: 15px;
  height: 15px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 9px;
  background: #a1a1a18a;
}

.stone-count {
  position: absolute;
  width: 55px;
  text-align: center;
  font-size: 12px;

  &:not(.reversed) {
    bottom: -25px;
  }

  &.reversed {
    top: -25px;
  }
}
